@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-4">
        <h5 class="text-center mb-4">Secure Yourself Properly With SafeTrail Insurance.</h5><br />
        <h6 class="text-center mb-4">"Protecting Every Journey, Ensuring Peace of Mind for the Miles Ahead."</h6>
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="text-center mb-4">Create a new account</h2>
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.FirstName" class="form-control" aria-required="true" placeholder="First Name" />
                        <label asp-for="Input.FirstName">First Name</label>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.LastName" class="form-control" aria-required="true" placeholder="Last Name" />
                        <label asp-for="Input.LastName">Last Name</label>
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-check mb-3">
                        <input asp-for="Input.MultiCar" class="form-check-input" type="checkbox" />
                        <label asp-for="Input.MultiCar" class="form-check-label">
                            Do you have multiple cars you want to register?
                        </label>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                        <label asp-for="Input.Password">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
                        <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}